.contact {
  background-image: url("../img/contact-page-bgi@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 453px;
  width: 100%;
}
.contact-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-content h1 {
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  color: white;
}
.contact-subcontent {
  position: absolute;
  left: 48px;
  top: 283px;
  z-index: 1.5;
}
.contact-subcontent h2 {
  color: rgba(255, 255, 255, 0.1);
  font-size: 9rem;
  font-weight: bold;
}
.contact-form {
  max-width: 700px;
  margin: 100px auto 80px auto;
}
.contact-form p {
  margin-top: 22px;
}
.contact-form p:nth-of-type(1) {
  margin-top: 0;
}
.contact-checkbox {
  display: flex;
}
.checkbox-content:nth-of-type(2) {
  margin-left: 20px;
  margin-right: 20px;
}
.contact-form input[type="text"] {
  height: 30px;
  width: 100%;
  border: 1px solid black;
}
.contact-form input[type="textarea"] {
  width: 100%;
  height: 171px;
  border: 1px solid black;
}
.form-button {
  display: flex;
  justify-content: center;
}
.contact-form input[type="submit"] {
  width: 235px;
  height: 59px;
  background-color: #f7d43f;
  line-height: 59px;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
  margin: 80px auto 0 auto;
}
@media screen and (max-width: 1000px) {
  .contact-subcontent {
    left: 15px;
  }
}
@media screen and (max-width: 770px) {
  .contact {
    height: 360px;
  }
  .contact-content h1 {
    font-size: 3rem;
  }
  .contact-subcontent {
    top: 256px;
  }
  .contact-subcontent h2 {
    font-size: 4rem;
  }
  .contact-form {
    margin-left: 15px;
    margin-right: 15px;
  }
  .contact-checkbox {
    flex-direction: column;
  }
  .checkbox-content:nth-of-type(1) {
    margin-top: 13px;
  }
  .checkbox-content:nth-of-type(2) {
    margin: 5px 0 5px 0;
  }
}
